<section class="tab protection {{tab.cssClass}} scrollable" data-group="primary" data-tab="protectionAttr">
	<div class="content-item">

		<div class="class-attributes-section op-shadow">
			<div class="section-title">Atributos de Proteção</div>

			<div class="grid">
				<div class="resource grid grid-2col">
					<label class="resource-label">{{localize "op.defense"}}</label>
					<input type="text" name="system.defense" value="{{system.defense}}" data-dtype="Number" />
				</div>

				<div class="resource grid grid-2col">
					<label class="resource-label">{{localize "op.category"}}</label>
					<div class="categoryCheck">
						{{radioBoxes "system.category" categories checked=system.category}}
					</div>
				</div>
			</div>
		</div>

	</div>
</section>