<section class="tab origin {{tab.cssClass}} scrollable" data-group="primary" data-tab="originAttr">
	<div class="grid">
		<label class="resource-label">{{localize "op.originSkills"}}</label>
		<textarea name="system.grantedSkills">{{system.grantedSkills}}</textarea>

		<label class="resource-label">{{localize "op.originAbility"}}</label>
		<textarea name="system.ability">{{system.ability}}</textarea>
	</div>
</section>