<section class='tab ability {{tab.cssClass}} scrollable' data-group='primary' data-tab='abilityAttr'>
	<div class="resource grid align-items-center">
		<label class="resource-label">{{localize "op.powerType"}}</label>
		<select name="system.abilityType" data-dtype="String">
			{{ selectOptions optionPowerType selected=system.abilityType localize=true blank="—" }}
		</select>
		<label class="resource-label">{{localize "op.execution"}}</label>
		<select name="system.activation" data-dtype="String">
				{{ selectOptions optionExecution selected=system.activation localize=true blank="—" }}
		</select>
	</div>
</section>