<section class="tab effects {{tab.cssClass}}" data-group="primary" data-tab="effects">
	<div class="content-item effects-management scrollable">

		{{#each effects as |section sid|}}
			<div class="effects-section op-shadow">

				<div class="effects-header flexrow" data-effect-type="{{section.type}}">
					<div class="effect-name">{{localize section.label}}</div>
					<div class="effect-source">{{localize "op.sourceEffect"}}</div>
					<div class="effect-duration">{{localize "EFFECT.TabDuration"}}</div>
					<div class="effect-controls">
						<a
							class="effect-control"
							data-action="createDoc"
							data-document-class="ActiveEffect"
							data-origin="{{@root.actor.uuid}}"
							data-img="icons/svg/aura.svg"
							{{opActiveEffectCreateAttrs section}}
							title="{{localize 'op.effectCreate'}}"
						>
							<i class="fas fa-plus"></i>
							{{localize "op.effectCreate"}}
						</a>
					</div>
				</div>

				<ol class="effect-list">
					{{#each section.effects as |effect|}}
						<li
							class="effect effect-item flexrow draggable"
							data-effect-id="{{effect.id}}"
							data-parent-id="{{effect.parent.id}}"
							data-document-class="ActiveEffect"
						>

							<div class="effect-name flexrow">
								<img class="effect-image" src="{{effect.img}}" />
								<span>{{effect.name}}</span>
							</div>

							<div class="effect-source">{{effect.parent.name}}</div>

							<div class="effect-duration">{{effect.duration.label}}</div>

							<div class="effect-controls flexrow">
								{{#if @root.editable}}
									<a class="effect-control" data-action="toggleEffect" title="{{localize 'BOILERPLATE.Effect.Toggle'}}">
										<i class="fas {{ternary effect.disabled 'fa-check' 'fa-times'}}"></i>
									</a>
								{{/if}}

								<a class="effect-control" data-action="viewDoc" title="{{localize 'DOCUMENT.Update' type="Effect"}}">
									<i class="fas fa-edit"></i>
								</a>

								{{#if @root.editable}}
									<a class="effect-control" data-action="deleteDoc" title="{{localize 'DOCUMENT.Delete' type="Effect"}}">
										<i class="fas fa-trash"></i>
									</a>
								{{/if}}
							</div>
						</li>
					{{/each}}
				</ol>
			</div>
		{{/each}}

	</div>
</section>