<header class="item-header-optimized">
	<img class="profile-img" src="{{item.img}}" data-edit="img" data-action="onEditImage" title="{{item.name}}" />

	<div class="header-fields">
		<div class="document-name">
			<input name="name" type="text" value="{{item.name}}" placeholder="Nome do Item" />
		</div>

		{{#if isPhysical}}
			<div class="header-stats">
				<div class="stat-box">
					<i class="fas fa-cubes"></i>
					{{localize "op.quantity"}}:
					<input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" />
				</div>

				<div class="stat-box">
					<i class="fas fa-weight-hanging"></i>
					{{localize "op.space"}}:
					<input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number" />
				</div>
			</div>
		{{/if}}
	</div>
</header>