<header class="item-header">
	<div class="profile-img-wrapper">
		<img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" />
		<div class="profile-img-hover" data-action="onEditImage"><i class="fas fa-camera"></i></div>
	</div>

	<div class="header-fields">
		<div class="document-name">
			<input name="name" type="text" value="{{item.name}}" placeholder="Nome do Item..." autocomplete="off" />
		</div>

		{{#if isPhysical}}
			<div class="header-stats">
				<div class="stat-badge">
					<span class="stat-label">
						<i class="fas fa-cubes"></i>
						{{localize "op.quantity"}}
					</span>
					<input type="text" name="system.quantity" value="{{system.quantity}}" data-dtype="Number" placeholder="0" />
				</div>

				<div class="stat-badge">
					<span class="stat-label">
						<i class="fas fa-weight-hanging"></i>
						{{localize "op.space"}}
					</span>
					<input type="text" name="system.weight" value="{{system.weight}}" data-dtype="Number" placeholder="0" />
				</div>
			</div>
		{{/if}}
	</div>
</header>